input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}

.section {
    min-height: 100vh;
    margin: 0 80px;
}

.container {
    min-height: 100vh;
    background-image: url('assets/unnamed.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.info h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 800;
}

.home {
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center;    
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
}

.home::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(77, 73, 73, 0.5); /* darker background */
    z-index: 0;
}

.home > * {
    position: relative;
    z-index: 1;
}

.info {
    color: #ececec;
}

.info p {
    font-weight: 500;
}

.info i {
    font-size: 10rem;
    padding: 20px 20px;
    color:#ececec;
}

.buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin: 20px 0;
}

.btn {
    background: #df3a4b;
    color: #ececec;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    transition: 0.2s ease;
    font-family: inherit;
}

#products {
    scroll-margin-top: 30px;
}

.products-section h2 {
    text-align: center;
    font-size: 40px;
}

.small-separator {
    width: 200px;
    height: 3px;
    background-color: #df3a4b;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 50px;
}

.product-card {
    background: white;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 15px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.delete-btn {
    background: #df3a4b;
    color: #ececec;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    display: flexbox;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    transition: 0.2s ease;
    font-family: inherit;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card:hover .delete-btn {
    opacity: 1;
    visibility: visible;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.25);
    z-index: 10;
    backdrop-filter: blur(3px);
}

.modal-content {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.modal-content h2 {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 1.5rem;
    color: #222;
    text-align: center;
    margin-top: 3rem;
}

.modal-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content input[type="text"],
.modal-content input[type="number"] {
    width: 50%;
    padding: 12px 14px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 0.95rem;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
    font-family: inherit;
    display: block;
}

.modal-content input:focus {
  border-color: #e63946;
  box-shadow: 0 0 0 3px rgba(230, 57, 70, 0.15);
}

.modal-content button[type="submit"] {
    background-color: #e63946;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 10px;
    font-family: inherit;
}

.modal-content button[type="submit"]:hover {
    background-color: #c91828;
    transform: translateY(-2px);
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 18px;
    font-size: 40px;
    color: #555;
    cursor: pointer;
}   